body{
	width: 70%;
}
table{
	text-align: center;
	border-collapse: collapse;
	border: 3px solid gray;
}
.tr1{
	color: white;
	background-color: black;
	border: 2px solid white;
}

.tr2{
	background-color: orange;
	border: 2px solid white;
}

.tr3{
	background-color: green;
	border: 2px solid white;
}

.tr4{
	background-color: blue;
	border: 2px solid white;
}

.tr5{
	background-color: yellow;
	border: 2px solid white;
}

.tr6{
	background-color: red;
	border: 2px solid white;
}

.tr7{
	background-color: purple;
	border: 2px solid white;
}
td{
	border: 2px solid white;
}

img{
	width: 80px;
	border-radius: 8px;
	height: 80px;
	margin: 10px;
}

