form{
    display: flex;
}
#search-form{
    flex: auto;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    border:1.5px solid blue;
    color: green;
    outline: none;
    height: 2em;
}
button{
    color: green;
    width: 50px;
    height: 25px;
    border-radius: 3px;
    background-color:rgb(239,239,239);
    border: 1px solid gray;
    margin-right: 2px;
    }
button:hover{
    color: red;
}
#search-form:hover{
    color: red;
}

