
.card1{
    width: 140px;
    text-align: center;
    display: inline-table;
    margin-left: 5px;
}

h2{
   margin-top: auto;
   background-color: rgb(77, 129, 155) ; 
   color: white;
   font-family: 'Lato', bold; 
   
   font-size: 1.5em;

}

p{
    margin-bottom: auto;
    font-family: 'Lato', regular;
    font-size: 2em;
}

img{
    width: 100px;
}

.card2{
    width: 140px;
    text-align: center;
    margin-left: 5px;
    display: inline-table;

}

.card3{
    width: 140px;
    text-align: center;
    margin-left: 5px;
    display: inline-table;
}

.card4{
    width: 140px;
    text-align: center;
    margin-left: 5px;
    display: inline-table;
}

.card5{
    width: 140px;
    text-align: center;
    margin-left: 5px;
    display: inline-table;
}

.card6{
    width: 140px;
    text-align: center;
    margin-left: 5px;
    display: inline-table;
}

.card7{
    width: 140px;
    text-align: center;
    margin-left: 5px;
    display: inline-table;
}

.card1:hover{
    box-shadow:0px 0px 10px 0px black;
}
.card2:hover{
    box-shadow:0px 0px 10px 0px black;
}
.card3:hover{
    box-shadow:0px 0px 10px 0px black;
}
.card4:hover{
    box-shadow:0px 0px 10px 0px black;
}
.card5:hover{
    box-shadow:0px 0px 10px 0px black;
}
.card6:hover{
    box-shadow:0px 0px 10px 0px black;
}
.card7:hover{
    box-shadow:0px 0px 10px 0px black;
}
